html,body {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.panelist-enabled {
    overflow: hidden;
}

.panelist-enabled .panelist-col,
.panelist-enabled .panelist-row {
    background: -webkit-linear-gradient(
        135deg, white, blue
    );

    background: -moz-linear-gradient(
        135deg, white, blue
    );
}

/*
.panelist-enabled .panelist-col {
    height: 100%;
}

.panelist-enabled .panelist-row {
    width: 100%;
}*/
